@import url(../App.css);

.container {
    display: flex;
    width: 100%;
    height: 260px;
    justify-content: center;
    align-items: center;
}

.hero2 .container .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero2 .container .text h1 {
    font-weight: 700;
    font-size: 60px;
}

.hero2 .container .text p {
    font-weight: 400;
    font-size: 18px;
}

.scroll-container {
    align-items: center;
    overflow: hidden;
    padding: 20px 0;
    display: flex;
    height: 474px;
    width: 100%;
}

.scroll-track {
    display: flex;
    animation: scroll 40s linear infinite;
    gap: 20px;
    width: max-content;
}

.scroll-image {
    width: 305px;
    height: 410px;
    object-fit: cover;
    border-radius: 10px;
    flex-shrink: 0;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        /* Geser sejauh 50% (dikurangi setengah gap) agar perulangannya pas */
        transform: translateX(calc(-50% - 10px));
    }
}